<div>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" routerLink="/" matTooltip="Inicio">
            <mat-icon>home</mat-icon>
            
        </button>
        <span>My App</span>
        <button mat-icon-button matTooltip="Projectos">
            <mat-icon>work</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Administración">
            <mat-icon>portrait</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Comercial" routerLink="rendimiento-comercial">
            <mat-icon>group</mat-icon>
        </button>
        <span class="example-spacer"></span>
    </mat-toolbar>
</div>
